<h1>User List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td>
        <% if user.id == 1 %>
          <p>Admin</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>